/* couleur de fond*/
body {
  background-color: #f3e9f1;
}

.main {
  max-width: 1920px;
  min-width: 320px;
  margin: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: stretch;
}
@media (max-width: 494px) {
  ul {
    justify-content: space-between;
  }
}

li {
  padding: 20px;
}

h2, p {
  margin: 0;
}

.all {
  display: flex;
  justify-content: space-between;
}
.all .right {
  width: 70%;
}

.center {
  text-align: center;
}

.end {
  margin: 5px;
}

.alignEnd {
  text-align: end;
}

.info {
  text-align: center;
}
.info h2 {
  color: #8A2BE2;
  margin: 20px;
}
.info p {
  margin: 10px;
}
.info span {
  color: #8A2BE2;
}

.green {
  color: #027D0B;
  font-weight: bold;
}

.pink {
  color: #8A2BE2;
}

.right {
  text-align: justify;
}

.left {
  display: flex;
  align-items: end;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.contenu {
  text-align: center;
}
@media (min-width: 900px) {
  .contenu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

header {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 494px) {
  header {
    flex-direction: column;
  }
}

.elastic {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 95%;
}

#list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.etiquette {
  width: 35%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
}
.etiquette img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
}
.etiquette h2 {
  margin: 5px;
}
.etiquette p {
  margin: 10px;
}
@media (max-width: 900px) {
  .etiquette {
    width: 45%;
  }
  .etiquette img {
    height: 250px;
  }
}
@media (max-width: 494px) {
  .etiquette {
    width: 80%;
  }
  .etiquette img {
    height: 200px;
  }
}

.solo {
  width: 80%;
  font-size: larger;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
}
.solo img {
  width: 100%;
}
.solo p {
  margin: 10px;
}
@media (min-width: 900px) {
  .solo {
    display: flex;
  }
  .solo img {
    width: 50%;
  }
}
@media (max-width: 494px) {
  .solo {
    font-size: medium;
  }
}

form {
  display: flex;
  justify-content: space-between;
}

.nomber, .color, .button {
  width: 25%;
  text-align: center;
  margin: 15px;
  padding: 7px;
}
@media (max-width: 494px) {
  .nomber, .color, .button {
    padding: 5px;
    margin: 8px;
  }
}

.line {
  width: 80%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
}
.line .minusImg {
  width: 20%;
}
@media (max-width: 900px) {
  .line {
    font-size: medium;
  }
}
@media (max-width: 494px) {
  .line {
    width: 90%;
  }
  .line img {
    display: none;
  }
  .line h2, .line p {
    margin: 5px;
  }
}

.group {
  width: 30%;
}
@media (max-width: 494px) {
  .group {
    width: 45%;
  }
}

.global {
  width: 80%;
  display: flex;
  justify-content: end;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
  font-size: larger;
}
.global p {
  padding: 10px;
}
@media (max-width: 494px) {
  .global {
    width: 90%;
    font-size: medium;
  }
}

.formulaire {
  width: 80%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  margin: 20px auto;
}
.formulaire h2 {
  width: 100%;
  text-align: center;
}
.formulaire input {
  width: 35%;
  margin: 10px;
  font-size: larger;
}
@media (max-width: 494px) {
  .formulaire {
    width: 90%;
  }
  .formulaire input {
    width: 80%;
    font-size: larger;
  }
}

/*# sourceMappingURL=style.css.map */
