/* couleur de fond*/
body {
  background-color: $primaire;
}
 .main {
   max-width: 1900px;
   min-width: 230px;
   margin: auto;
 }

 a {
   text-decoration: none;
   color: black;
 }

 ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   align-items: stretch;
   @media (max-width: $lit_Size) {
     justify-content: space-between;
   }
 }

 li {
   padding: 20px;
 }

 header {
   display: flex;
   justify-content: space-between;
   @media (max-width: $lit_Size) {
     flex-direction: column;
   }
 }

 #list {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
 }

 .etiquette {
   width: 35%;
   border: 1px solid black;
   border-radius: 10px;
   overflow: hidden;
   margin: 10px;
   img {
     width: 100%;

   }
   @media (max-width: $lit_Size) {
     width: 90%;
   }
 }

 .contenu {
   text-align: center;
 }

 .solo {
   width: 70%;
   border: 1px solid black;
   border-radius: 10px;
   overflow: hidden;
   margin: auto;
   img {
     width: 100%;
   }
   p {
     margin: 10px;
   }
 }

 form {
   display: flex;
   justify-content: space-between;
   padding: 10px;
 }

 .nomber, .color, .button {
   width: 25%;
 }

 .line {
   border: 1px solid black;
   border-radius: 10px;
   overflow: hidden;
   margin: 10px auto;
   display: flex;
   justify-content: space-between;
   .minusImg {
     width: 10%;
   }
   p {
     padding: 10px;
   }
 }

 .global {
   display: flex;
   justify-content: end;
   margin: 10px auto;
   border: 1px solid black;
   border-radius: 10px;
   overflow: hidden;
   p {
     padding: 10px;
   }
 }

 .formulaire {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   border: 1px solid black;
   border-radius: 10px;
   overflow: hidden;
   margin: 10px auto;
   h2 {
     width: 100%;
     text-align: center;
   }
   input {
     width: 35%;
     margin: 10px;
   }
 }

 .empty {
   width: 70%;
   margin: auto;
   h2 {
     color: blueviolet;
     text-align: center;
   }
   p {
     text-align: center;
   }
 }