/* couleur de fond*/
body {
  background-color: $primaire;
  font-family: sans-serif;
}
 .main {
   max-width: $max-width;
   min-width: $min-width;
   margin: auto;
 }

 a {
   text-decoration: none;
   color: black;
 }

 ul {
   list-style-type: none;
   padding: 0;
   display: flex;
   align-items: stretch;
   @media (max-width: $lit_size) {
     justify-content: space-between;
   }
 }

 li {
   padding: 20px;
 }

 h2, p {
   margin: 0;
 }

 .all {
   display: flex;
   justify-content: space-between;
   .right {
     width: 70%;
   }
 }

 .center {
   text-align: center;
 }

 .end {
   margin: 5px;
 }

 .alignEnd {
   text-align: end;
 }

 .info {
   text-align: center;
   h2 {
     color: $secondary;
     margin: 20px;
   }
   p {
     margin: 10px;
   }
   span {
     color: $secondary;
   }
 }

 .green {
   color: $tertiare;
   font-weight: bold;
 }

 .pink {
   color: $secondary;
 }

.right{
  text-align: justify;
}
.left {
  display: flex;
  align-items: end;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}