
//nom d'origine "variables_overrides"
// liste des variables

//colors
$primaire : #f3e9f1;
$secondary: #8A2BE2;
$tertiare: #027D0B;

//screen size
$lit_size: 494px;
$big_size: 1300px;
$mid_size: 900px;

//width of main's div
$max-width: 1920px;
$min-width: 320px;

